.spacer {
    height: 20vh;
}

.contact-section {
    font-family: 'DM Sans', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding-block: 100px;
    font-size: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.social-links a{
    color: #22222B;
    text-decoration: none;
}


@media (max-width: 576px) {
    .contact-info {
        padding: 1.5rem 1rem;
    }
}
