.navbar a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* On hover */
.navbar a:hover {
    color: #6a6aff;
}

/* Active link styling */
.navbar a.active {
    color: #6a6aff;
}

footer {
    padding: 20px;
    color: white;
    background-color: #22222B;
}

footer a {
    color: white;
    text-decoration: none;

}

footer a:hover {
    color: #6a6aff;
}